<% content_for :breadcrumb do %>
    <ol class="breadcrumb">
      <li><%= link_to 'Quizzes', question_groups_path %></li>
      <li><%= link_to @question_group.name, question_group_questions_path(@question_group) %></li>
      <li>New Question</li>
    </ol>
<% end %>

<%= render partial: 'form', locals: {question: @question} %>
