<div class="modal fade" id="new-survey" tabindex="-1" role="dialog" aria-labelledby="new-survey" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New Survey</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'form', locals: {question_group: Rapidfire::QuestionGroup.new} %>
      </div>
    </div>
  </div>
</div>
