<h2>
  Quizzes
  <div class="pb pt search-wrapper">
    <div class="p0 <% unless can_administer? %>col-xs-12<% else %>col-xs-8<% end %>">
      <input id="searchBox" class="form-control" placeholder="Search..."></input>
    </div>

    <% if can_administer? %>
      <div class="col-xs-4">
        <%= render partial: 'new_quiz_modal' %>
        <button class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#new-quiz">
          New Quiz
        </button>
        <%= link_to 'View Groups', quiz_groups_path, class:"btn btn-sm btn-primary pull-right" %>
      </div>
    <% else %>
      <div class="col-xs-12 text-center">
        <p><small>This is a list of all quizzes, you can choose to do them if you want, but they are <b>not</b> assigned.</small></p>
      </div>
    <% end %>
  </div>
</h2>
<hr/>
<table class="table table-striped quizzes-table">
  <colgroup>
    <col></col>
    <col width="45%"></col>
  </colgroup>
  <tbody>
    <% @question_groups.each do |group_name, group| %>
      <h3><% if group_name %><%= QuizGroup.find(group_name).name %><% else %>Other<% end %></h3>
      <%= render partial: "question_group", collection: group %>
    <% end %>
  </tbody>
</table>
