<% content_for :breadcrumb do %>
    <ol class="breadcrumb">
      <li><%= link_to 'Users', users_path %></li>
      <li>Creating a User</li>
    </ol>
<% end %>

<div class="page-header">
  <h2>Create a User</h2>
</div>

<%= render partial: 'form' %>
