/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_widgets
 *= require_tree .
 */

 @import "bootstrap";

 .navbar-no-bg {
    background: none;
    float: left;
    width: 100%;
    .navbar-nav > li > a {
      color: #fff;
      font-weight: 500;
      font-size: 110%;
      &:hover {
        color: #000100;
      }
    }
  }

 .collapse-heading { border-bottom: 1px solid #CECECE !important; }

 .login-screen {
   background: #000100 image-url("background.png") center center;
   color: #fff;
   width: 100%;
   background-size: cover;
 }
 .login-screen-container, .jumbotron {
  background: rgba(0, 1, 0, 0.68);
 }

 .v-center {
     display:table !important;
     height:300px;
 }

 .content {
     display:table-cell;
     vertical-align:middle;
 }

 .content h2, .content p {
  text-align: center;
 }

.question label { display: block !important; }
.navbar { margin-bottom: 0px; border-radius: 0px; }
.jumbotron {
  color: #fff;
  width: 100%;
}
.jumbotron-container { background: #000100 image-url("background.png") top center; background-size: cover; }
.no-margin { margin: 0px !important; }

.checkbox input[type="checkbox"] { margin-left: 0px; }

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.search-wrapper { height: 50px; }

.pt { padding-top: 10px; }
.pb { padding-bottom: 10px; }
.pl { padding-left: 10px; }
.pr { padding-right: 10px; }
.p0 { padding: 0px; }

.question ul {
  background: rgb(226, 151, 151);
  border-radius: 10px;
  padding: 10px;
  list-style: none;
  color: #fff;
}

.forgot-link { color: #fff; &:hover { color: #ddd; } }
